* {
  border-radius: 0 !important;
}

body {
  /* font-family: 'Droid Sans' !important; */
  font-family: 'sans-serif' !important;
}

p {
  text-align: justify;
  margin-bottom: 12px;
}

h1:first-letter, h2:first-letter, h3:first-letter,
h4:first-letter, h5:first-letter, h6:first-letter,
.h1:first-letter, .h2:first-letter, .h3:first-letter,
.h4:first-letter, .h5:first-letter, .h6:first-letter {
  text-transform: capitalize !important;
}

.container {
  max-width: 1160px !important;
}

#page-header{
  background-image: url('/images/blason.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header-overlay{
  background: linear-gradient(to top, rgba(40, 40, 40, 0.5), transparent);
}

#page-title {
  /* background: rgba(40, 40, 40, 0.3); */
  color: white;
  font-weight: bold !important;
}

.btn-tag, .btn-outline-tag:hover {
  background-color: #ebb951 !important;
  color: #ffffff !important;
}

.btn-outline-tag, .icon-file {
  border-color: #ebb951 !important;
  color: #ebb951;
}

.btn-outline-prime {
  color: #3C99DC !important;
  border-color: #3C99DC !important;
}

.btn-outline-prime:hover {
  background-color: #3C99DC !important;
  color: #ffffff !important;
}
